In [15]:
nums = [4, 2, 8, 23.4, 8, 9, 545, 9, 1, 234.001, 5, 49, 8, 9 , 34, 52, 1, -2, 9.1, 4]
i = 0
which = 1
for num in nums:
    if num == 8:
        if which == 2:
            del nums[i]
            break
        which += 1
    i += 1
nums

[4, 2, 8, 23.4, 9, 545, 9, 1, 234.001, 5, 49, 8, 9, 34, 52, 1, -2, 9.1, 4]

In [16]:
alist = ['a', 'd', 'f']
alist[1:1] = ['b', 'c']
print(alist)

['a', 'b', 'c', 'd', 'f']

In [17]:
alist[4:4] = ['e']
print(alist)

['a', 'b', 'c', 'd', 'e', 'f']

In [18]:
alist[1:1]

[]

In [19]:
alist[4:4]

[]

In [20]:
alist[0:0] = ["Z"]

In [21]:
alist

['Z', 'a', 'b', 'c', 'd', 'e', 'f']

In [22]:
alist[-1:-1] = "END"
alist

['Z', 'a', 'b', 'c', 'd', 'e', 'E', 'N', 'D', 'f']

In [24]:
alist[-1:-1] = ["FINAL"]

In [25]:
alist

['Z', 'a', 'b', 'c', 'd', 'e', 'E', 'N', 'D', 'FINAL', 'f']

In [26]:
a = "banana"
b = "banana"

print(id(a))
print(id(b))

4403451696
4403451696

In [27]:
a = "soup"
b = "soup"

print(id(a))
print(id(b))

4403453360
4403453360

In [28]:
a = "banana"
b = "banana"

print(id(a))
print(id(b))

4403443632
4403443632

In [29]:
c = a
print(c)
print(id(c))

banana
4403443632

In [30]:
a = "soup"
b = "soup"

print(id(a))
print(id(b))

4505049328
4505049328

In [31]:
print(id(c))

4403443632

In [32]:
a = "banana"
b = "banana"

print(id(a))
print(id(b))
print(id(c))

4403443632
4403443632
4403443632

In [33]:
foo = (1,2,3)
bar = (1,2,3)

print(id(foo))
print(id(bar))

4403404096
4403241856

In [34]:
type(foo)

tuple

In [35]:
foo is bar

False

In [36]:
a is c

True

In [38]:
bar = foo
foo is bar

True

In [39]:
bar

(1, 2, 3)

In [40]:
a

'banana'

In [41]:
foo = [1,2,3]
bar = [1,2,3]

foo is bar

False

In [42]:
!foo is bar

zsh:1: command not found: foo

In [43]:
!(foo is bar)

zsh:1: command not found: foo

In [44]:
bar = foo

In [45]:
foo is bar

True

In [46]:
bar

[1, 2, 3]

In [47]:
bar[1] = "True"
bar

[1, 'True', 3]

In [48]:
foo

[1, 'True', 3]

In [49]:
foo = [1,2,3,4]
bar = foo
print(id(foo))
print(id(bar))

4403474368
4403474368

In [50]:
foo.reverse()
print(foo)
print(bar)

[4, 3, 2, 1]
[4, 3, 2, 1]

In [51]:
print(id(foo))
print(id(bar))

4403474368
4403474368

In [52]:
mylist = []
mylist.append(5)
mylist.append(27)
mylist.append(3)
mylist.append(12)
print(mylist)

mylist = mylist.sort() #  sort returns None and assigns it to the var mylist
print(mylist)

[5, 27, 3, 12]
None

In [53]:
mylist = []
mylist.append(5)
mylist.append(27)
mylist.append(3)
mylist.append(12)
print(mylist)

mylist.sort()   # mutates mylist
print(mylist)

[5, 27, 3, 12]
[3, 5, 12, 27]

In [54]:
x = 5
y = 5
print(id(x))
print(id(y))

4358343312
4358343312

In [55]:
x += 1
print(x)
print(y)

6
5

In [56]:
print(id(x))
print(id(y))

4358343344
4358343312

In [57]:
x = [5]
y = x
x += [4,3]
print(y)

[5, 4, 3]

In [59]:
x = 'foo'
y = x
print(id(x))
print(id(y))
x += " bar"
print(y)
print(id(x))
print(id(y))

4380928432
4380928432
foo
4505130544
4380928432

In [60]:
x = "foo"
print(id(x))
x += "foo" + "bar"
print(id(x))

4380928432
4402365808

In [63]:
origlist = [45,32,88]
print(id(origlist))
origlist.append("cat")
print(origlist)
print(id(origlist))

4403476544
[45, 32, 88, 'cat']
4403476544

In [65]:
origlist = origlist + ["cat"]
print(origlist)
print(id(origlist))

[45, 32, 88, 'cat', 'cat']
4403474688

In [72]:
a = 5
b = 9
setStr = 'The set is {{{}, {}}}.'.format(a, b)
print(setStr)

#THIS WORKS

The set is {5, 9}.

In [ ]:
a = 5
b = 9
setStr = 'The set is \{\{\{}, {}}}.'.format(a, b)
print(setStr)

IN 9.9. Non-mutating Methods on Strings
this DOES NOT WORK

In [76]:
numbs = [5, 10, 15, 20, 25]
for num in numbs:
    num = num + 5  # num just holds a value, it doesn't hold the list elem
    print(num)
print(numbs)

10
15
20
25
30
[5, 10, 15, 20, 25]

In [77]:
numbs = [5, 10, 15, 20, 25]
for i in range(len(numbs)):
    numbs[i] = numbs[i] + 5
    print(numbs[i])
print(numbs)

10
15
20
25
30
[10, 15, 20, 25, 30]

In [79]:
scores = "67 80 90 78 93 20 79 89 96 97 92 88 79 68 58 90 98 100 79 74 83 88 80 86 85 70 90 100"
a_scores = 0
scores_list = scores.split()
for score in scores_list:
    if int(score) >= 90:
        a_scores += 1
print(a_scores)

# set up my iterator var called "a_scores" to hold the number of scores that are A
# slice my scores into a list of number strings
# loop through the scores_list and test if int(score) is >= 90
# if it is then a_scores += 1

10

In [84]:
stopwords = ['to', 'a', 'for', 'by', 'an', 'am', 'the', 'so', 'it', 'and', "The"]
org = "The organization for health, safety, and education"
acro = ""
org_word_list = org.split()
for word in org_word_list:
    if word not in stopwords:
        acro += word[0].upper()
print(acro)
        
# assign an empty string var called "acro"
# make list of words in org.  Call it "org_word_list"
# loop through the words in org
# if word is not in stopwords
# variable init_char equals the first letter
# make init_char uppercase
# += init_char to acro (can I += to a string?)

OHSE

In [85]:
my_str = "hello"
print(id(my_str))
my_str += " goodbye"
print(my_str)
print(id(my_str))

4398402096
hello goodbye
4505069552

In [90]:
stopwords = ['to', 'a', 'for', 'by', 'an', 'am', 'the', 'so', 'it', 'and', 'The']
sent = "The water earth and air are vital"
acro = ""
sent_words = sent.split()
for word in sent_words:
    if word not in stopwords:
        acro = acro + word[0:2].upper() + ". "
acro = acro[:-2]
print(acro)

WA. EA. AI. AR. VI

In [106]:
p_phrase = "was it a car or a cat I saw"
r_phrase = ""
for i in range(len(p_phrase)):
    r_phrase += p_phrase[(i * -1) - 1]
print(r_phrase == p_phrase)

False

In [108]:
inventory = ["shoes, 12, 29.99", "shirts, 20, 9.99", "sweatpants, 25, 15.00", "scarves, 13, 7.75"]
#ex: The store has 12 shoes, each for 29.99 USD.
for item_data in inventory:
    data = item_data.split(", ")
    item = data[0]
    amt = data[1]
    cost = data[2]
    print("The store has {} {}, each for {} USD.".format(amt, item, cost))

The store has 12 shoes, each for 29.99 USD.
The store has 20 shirts, each for 9.99 USD.
The store has 25 sweatpants, each for 15.00 USD.
The store has 13 scarves, each for 7.75 USD.

In [111]:
str1 = "Today you are you! That is truer than true! There is no one alive who is you-er than you!"
responses = {
    "false" : "False. You aren’t you?",
    "true" : "True! You are you!",
    "neither" : "Neither true nor false!"
}
output = ""
if "false" in str1:
    output = responses["false"]
elif "true" in str1:
    output = responses["true"]
else:
    output = responses["neither"]
print(output)

True! You are you!

In [112]:
alist = [4,2,8,6,5]
alist[2] = True
print(alist)

[4, 2, True, 6, 5]

In [115]:
fileobj = open('../python_sandbox/files/basic_text.txt')
contents = fileobj.read()
print(contents[:10])
fileobj.close()

here is a

From **ActiveCode (ac_9_10_9)** question in FOPP practice

Read in the contents of the file `SP500.txt` which has monthly data for 2016 and 2017 about the S&P 500 closing prices as well as some other financial indicators, including the **“Long Term Interest Rate”**, which is interest rate paid on 10-year U.S. government bonds.

Write a program that computes the **average closing price (SP500)** (the second column, labeled SP500) and the **highest long-term interest rate**. Both should be computed **only for the period from June 2016 through May 2017**. Save the results in the variables `mean_SP` and `max_interest`.

In [17]:
fileobj = open('files/SP500.txt', 'r')
data_set = fileobj.readlines()
titles = data_set.pop(0)
print(titles)
print()
print(data_set)
fileobj.close()

Date,SP500,Dividend,Earnings,Consumer Price Index,Long Interest Rate,Real Price,Real Dividend,Real Earnings,PE10


['1/1/2016,1918.6,43.55,86.5,236.92,2.09,2023.23,45.93,91.22,24.21\n', '2/1/2016,1904.42,43.72,86.47,237.11,1.78,2006.62,46.06,91.11,24\n', '3/1/2016,2021.95,43.88,86.44,238.13,1.89,2121.32,46.04,90.69,25.37\n', '4/1/2016,2075.54,44.07,86.6,239.26,1.81,2167.27,46.02,90.43,25.92\n', '5/1/2016,2065.55,44.27,86.76,240.23,1.81,2148.15,46.04,90.23,25.69\n', '6/1/2016,2083.89,44.46,86.92,241.02,1.64,2160.13,46.09,90.1,25.84\n', '7/1/2016,2148.9,44.65,87.64,240.63,1.5,2231.13,46.36,91,26.69\n', '8/1/2016,2170.95,44.84,88.37,240.85,1.56,2251.95,46.51,91.66,26.95\n', '9/1/2016,2157.69,45.03,89.09,241.43,1.63,2232.83,46.6,92.19,26.73\n', '10/1/2016,2143.02,45.25,90.91,241.73,1.76,2214.89,46.77,93.96,26.53\n', '11/1/2016,2164.99,45.48,92.73,241.35,2.14,2241.08,47.07,95.99,26.85\n', '12/1/2016,2246.63,45.7,94.55,241.43,2.49,2324.83,47.29,97.84,27.87\n', '1/1/2017,2275.12,45.93,96.46,242.84,2.43,2340.67,47.25,99.24,28.06\n', '2/1/2017,2329.91,46.15,98.38,243.6,2.42,2389.52,47.33,100.89,28.66\n', '3/1/2017,2366.82,46.38,100.29,243.8,2.48,2425.4,47.53,102.77,29.09\n', '4/1/2017,2359.31,46.66,101.53,244.52,2.3,2410.56,47.67,103.74,28.9\n', '5/1/2017,2395.35,46.94,102.78,244.73,2.3,2445.29,47.92,104.92,29.31\n', '6/1/2017,2433.99,47.22,104.02,244.96,2.19,2482.48,48.16,106.09,29.75\n', '7/1/2017,2454.1,47.54,105.04,244.79,2.32,2504.72,48.52,107.21,30\n', '8/1/2017,2456.22,47.85,106.06,245.52,2.21,2499.4,48.69,107.92,29.91\n', '9/1/2017,2492.84,48.17,107.08,246.82,2.2,2523.31,48.76,108.39,30.17\n', '10/1/2017,2557,48.42,108.01,246.66,2.36,2589.89,49.05,109.4,30.92\n', '11/1/2017,2593.61,48.68,108.95,246.67,2.35,2626.9,49.3,110.35,31.3\n', '12/1/2017,2664.34,48.93,109.88,246.52,2.4,2700.13,49.59,111.36,32.09\n']

In [18]:
titles = titles.split(',')

In [19]:
i_SP500 = titles.index('SP500')
i_rate = titles.index('Long Interest Rate')
print(i_SP500)
print(i_rate)

1
5

In [34]:
total_SP = 0
mean_SP = 0
no_months = 0
max_interest = 0

In [35]:
for data in data_set:
    items = data.strip().split(',')
    date = items[0].split('/')
    month = int(date[0])
    year = int(date[-1])
    # print(month, ' ', year)
    if (month >= 6 and year == 2016) or (month <6 and year == 2017):
        print(month, ' ', year, ' ', float(items[i_SP500]), ' ', float(items[i_rate]))
        total_SP += float(items[i_SP500])
        no_months += 1
        if float(items[i_rate]) > max_interest:
            max_interest = float(items[i_rate])
mean_SP = total_SP / no_months

6   2016   2083.89   1.64
7   2016   2148.9   1.5
8   2016   2170.95   1.56
9   2016   2157.69   1.63
10   2016   2143.02   1.76
11   2016   2164.99   2.14
12   2016   2246.63   2.49
1   2017   2275.12   2.43
2   2017   2329.91   2.42
3   2017   2366.82   2.48
4   2017   2359.31   2.3
5   2017   2395.35   2.3

In [36]:
total_SP = round(total_SP, 2)
mean_SP = round(mean_SP, 2)

In [37]:
print(total_SP) # 26842.58
print(no_months) # 12

print(mean_SP) # 2236.88
print(max_interest) # 2.49

26842.58
12
2236.88
2.49

Sort the following string alphabetically, from z to a,
and assign it to the variable `sorted_letters`.

In [34]:
letters = "alwnfiwaksuezlaeiajsdl"
sorted_letters = sorted(letters, reverse = True)

Sort the list below, `animals`, into alphabetical order, a-z.
Save the new list as `animals_sorted`.

In [35]:
animals = ['elephant', 'cat', 'moose', 'antelope', 'elk', 'rabbit', 'zebra', 'yak', 'salamander', 'deer', 'otter', 'minx', 'giraffe', 'goat', 'cow', 'tiger', 'bear']
animals_sorted = sorted(animals)

The dictionary, `medals`, shows the medal count for six countries during the Rio Olympics. Sort the country names so they appear alphabetically. Save this list to the variable `alphabetical`.

In [36]:
medals = {'Japan':41, 'Russia':56, 'South Korea':21, 'United States':121, 'Germany':42, 'China':70}
alphabetical = sorted(medals)

Given the same dictionary, `medals`, now sort by the medal count. Save the three countries with the highest medal count to the list, `top_three`.

In [28]:
medals = {'Japan':41, 'Russia':56, 'South Korea':21, 'United States':121, 'Germany':42, 'China':70}
top_three = (sorted(medals, reverse = True, key = (lambda c : medals[c])))[:3]

We have provided the dictionary `groceries`. You should return a list of its keys, but they should be sorted by their values, from highest to lowest. Save the new list as `most_needed`.

In [38]:
groceries = {'apples': 5, 'pasta': 3, 'carrots': 12, 'orange juice': 2, 'bananas': 8, 'popcorn': 1, 'salsa': 3, 'cereal': 4, 'coffee': 5, 'granola bars': 15, 'onions': 7, 'rice': 1, 'peanut butter': 2, 'spinach': 9}
most_needed = sorted(groceries, reverse = True, key = (lambda g_item : groceries[g_item]))
print(most_needed)

['granola bars', 'carrots', 'spinach', 'bananas', 'onions', 'apples', 'coffee', 'cereal', 'pasta', 'salsa', 'orange juice', 'peanut butter', 'popcorn', 'rice']

Create a function called `last_four` that takes in a single ID number and returns the last four digits. For example, the number 17573005 should return 3005. Then, use the resulting function to sort the list of ids stored in the variable, `ids`, from lowest to highest. Save this sorted list in the variable, `sorted_ids`. Hint: Remember that only strings can be indexed, so conversions may be needed.

In [46]:
ids = [17573005, 17572342, 17579000, 17570002, 17572345, 17579329]

def last_four(id_num):
    id_str = str(id_num)
    id_4 = id_str[-4:]
    return id(id_4)

sorted_ids = sorted(ids, key = last_four)

print(sorted_ids)

[17573005, 17579000, 17572345, 17572342, 17570002, 17579329]

Sort the list `ids` by the last four digits of each id. Do this using lambda and not using a defined function. Save this sorted list in the variable `sorted_id`.

In [45]:
ids = [17573005, 17572342, 17579000, 17570002, 17572345, 17579329]

sorted_id = sorted(ids, key = (lambda id : int(str(id)[-4:])))

print(sorted_id)

[17570002, 17572342, 17572345, 17573005, 17579000, 17579329]

Sort the following list by each element’s second letter a to z. Do so by using lambda. Assign the resulting value to the variable `lambda_sort`.

In [33]:
ex_lst = ['hi', 'how are you', 'bye', 'apple', 'zebra', 'dance']

lambda_sort = sorted(ex_lst, key = (lambda s : s[1]))

In [47]:
'abcd'[-2:]

'cd'

In [53]:
ids = [17573005, 17572342, 17579000, 17570002, 17572345, 17579329]
def last_four(i):
    return int(str(i)[-4:])
sorted_id = sorted(ids, key = last_four)
print(sorted_id)

[17570002, 17572342, 17572345, 17573005, 17579000, 17579329]

In [54]:
ids = [17573005, 17572342, 17579000, 17570002, 17572345, 17579329]
sorted_id = sorted(ids, key = (lambda i : int(str(i)[-4:])))
print(sorted_id)

[17570002, 17572342, 17572345, 17573005, 17579000, 17579329]

In [55]:
import json
def pretty(obj):
    return json.dumps(obj, sort_keys=True, indent=2)

d = {'key1': {'c': True, 'a': 90, '5': 50}, 'key2':{'b': 3, 'c': "yes"}}

print(d)
print('--------')
print(pretty(d))

{'key1': {'c': True, 'a': 90, '5': 50}, 'key2': {'b': 3, 'c': 'yes'}}
--------
{
  "key1": {
    "5": 50,
    "a": 90,
    "c": true
  },
  "key2": {
    "b": 3,
    "c": "yes"
  }
}

In [74]:
foo = [['a', 'b', 'c'], ['d', 'e', 'f']]
tf = False
for lst in foo:
    if 'e' in lst:
        print(lst)
        tf = True
        break
        
print(tf)

['d', 'e', 'f']
True