In [9]:
foo = [1,2,3,4]
bar = sum(foo,100)
bar

110

In [38]:
addition_str = "2+5+10+20"
add_lst = addition_str.split("+")
sum_lst = []
for sn in add_lst:
    sum_lst.append(int(sn))
sum_val = sum(sum_lst)
sum_val

37

In [25]:
foo = [2, 4, 6]
def double(x):
    return x*2
bar = map(double, foo)

In [26]:
type(bar)

map

In [27]:
bar

In [28]:
bar = list(map(double,foo))
type(bar)

list

In [29]:
bar

[4, 8, 12]

In [39]:
addition_str = "2+5+10+20"
add_lst = list(map(int, addition_str.split("+")))
lst_sum = sum(add_lst)
lst_sum

37

In [42]:
week_temps_f = "75.1,77.7,83.2,82.5,81.0,79.5,85.7"
temps_f = list(map(float, week_temps_f.split(",")))
avg_temp = sum(temps_f) / len(temps_f)
avg_temp

80.67142857142858

In [45]:
yada = []
yada[0]

IndexError: list index out of range

In [47]:
str = "foo bar yada"
"foo" in str

True

In [56]:
def triple(x):
    return x * 3
yada = [1,2,'1','2']
print('Triple it:')
print([triple(y) for y in yada])

Triple it:
[3, 6, '111', '222']

In [60]:
def isItEven(x):
    return (x % 2 == 0)
bar = [1,2,3,4,5,6,7]
print('Even numbers:')
print(list(filter(isItEven, bar)))

Even numbers:
[2, 4, 6]

Provided is a list of numbers. For each of the numbers in the list, determine whether they are odd. If the number is odd, add `True` to a new list called `is_odd`. If the number is even, then add `False`.

In [66]:
def oddTrueOrFalse(x):
    return (not x % 2 == 0)
num_lst = [3, 20, -1, 9, 10]
is_odd = list(map(lambda n : not n % 2 == 0, num_lst))
is_odd_2 = list(map(oddTrueOrFalse, num_lst))
print(is_odd)
print(is_odd_2)

[True, False, True, True, False]
[True, False, True, True, False]

In [67]:
a = ["one", "two"]
b = a
b.append("three")
print("b is",b)
print("a is",a)

b is ['one', 'two', 'three']
a is ['one', 'two', 'three']

In [24]:
# create an object and assign it to x
x = [1,2,3,4]
# y and z point to same object x
y = x
z = x
print(x)
print(y)
print(z)
# this addition method creates a new object and assigns it to x
x = x + [5]
# y and z still point to the original object
print(x)
print(y)
print(z)
# this addition method (+=) adds to original object
y += [6]
# y and z point to the original opject which has been modified
print(x)
print(y)
print(z)

[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 6]
[1, 2, 3, 4, 6]

In [25]:
b = ['q', 'u', 'i']
z = b
b[1] = 'i'
for elem in b:
    print(elem)
for item in z:
    print(item)

q
i
i
q
i
i

In [27]:

numbs = [5, 10, 15, 20, 25]
numbs = list(map(lambda n : n + 5, numbs))
numbs

[10, 15, 20, 25, 30]

In [35]:
nested2 = [{'a': 1, 'b': 3}, {'a': 5, 'c': 90, 5: 50}, {'b': 3, 'c': "yes"}]

#write code to print the value associated with key 'c' in the second dictionary (90)
print(nested2[1]['c'])
#write code to print the value associated with key 'b' in the third dictionary
print(nested2[2]['b'])
#add a fourth dictionary add the end of the list; print something to check your work.
nested2.append({'n': 4, 'w': 'boo-yah'})
print(nested2[-1])
#change the value associated with 'c' in the third dictionary from "yes" to "no"; print something to check your work
nested2[2]['c'] = "no"
print(nested2[2])

90
3
{'n': 4, 'w': 'boo-yah'}
{'b': 3, 'c': 'no'}

In [42]:
d = {'key1': {'a': 5, 'c': 90, 5: 50}, 'key2':{'b': 3, 'c': "yes"}}
d[5] = {1: 2, 3: 4}
d['5'] = {5:6, 7:8}
d.keys()

dict_keys(['key1', 'key2', 5, '5'])

In [43]:
# get ready to zip in different ways...

# two vectors
v1 = [1,2,3]
v2 = [4,5,6]
# add the two vectors together

In [46]:
v3 = list(zip(v1, v2))
print(v3)
v4 = []
for a,b in v3:
    v4.append(a+b)
print(v4)

[(1, 4), (2, 5), (3, 6)]
[5, 7, 9]

In [49]:
v_list_comprehension = [a + b for (a, b) in list(zip(v1, v2))]
v_list_comprehension

[5, 7, 9]

In [51]:
v_via_map = list(map(lambda tup : tup[0] + tup[1], list(zip(v1, v2))))
v_via_map

[5, 7, 9]

1. Below we have provided two lists of numbers, L1 and L2. Using zip and list comprehension, create a new list, L3, that sums the two numbers if the number from L1 is greater than 10 and the number from L2 is less than 5. This can be accomplished in one line of code.

In [56]:
L1 = [1, 5, 2, 16, 32, 3, 54, 8, 100]
L2 = [1, 3, 10, 2, 42, 2, 3, 4, 3]
# filtering uses for in if
L3 = [a + b for (a, b) in list(zip(L1, L2)) if ((a > 10) and (b < 5))]

[18, 57, 103]

In [57]:
LL1 = [1,2,3]
LL2 = [4,5,6,7]
LL3 = [8,9,10,11,12]
print(list(zip(LL1, LL2, LL3)))

[(1, 4, 8), (2, 5, 9), (3, 6, 10)]

In [58]:
lst_check = ['plums', 'watermelon', 'kiwi', 'strawberries', 'blueberries', 'peaches', 'apples', 'mangos', 'papaya']
map_testing = list(map(lambda f : ('Fruit: ' + f), lst_check))
map_testing

['Fruit: plums',
 'Fruit: watermelon',
 'Fruit: kiwi',
 'Fruit: strawberries',
 'Fruit: blueberries',
 'Fruit: peaches',
 'Fruit: apples',
 'Fruit: mangos',
 'Fruit: papaya']

In [59]:
countries = ['Canada', 'Mexico', 'Brazil', 'Chile', 'Denmark', 'Botswana', 'Spain', 'Britain', 'Portugal', 'Russia', 'Thailand', 'Bangladesh', 'Nigeria', 'Argentina', 'Belarus', 'Laos', 'Australia', 'Panama', 'Egypt', 'Morocco', 'Switzerland', 'Belgium']
b_countries = list(filter(lambda c : c[0] == "B", countries))
b_countries

['Brazil', 'Botswana', 'Britain', 'Bangladesh', 'Belarus', 'Belgium']

In [61]:
people = [('Snow', 'Jon'), ('Lannister', 'Cersei'), ('Stark', 'Arya'), ('Stark', 'Robb'), ('Lannister', 'Jamie'), ('Targaryen', 'Daenerys'), ('Stark', 'Sansa'), ('Tyrell', 'Margaery'), ('Stark', 'Eddard'), ('Lannister', 'Tyrion'), ('Baratheon', 'Joffrey'), ('Bolton', 'Ramsey'), ('Baelish', 'Peter')]
first_names = [b for (a,b) in people]
first_names

['Jon',
 'Cersei',
 'Arya',
 'Robb',
 'Jamie',
 'Daenerys',
 'Sansa',
 'Margaery',
 'Eddard',
 'Tyrion',
 'Joffrey',
 'Ramsey',
 'Peter']

In [63]:
lst = [["hi", "bye"], "hello", "goodbye", [9, 2], 4]
lst2 = [el * 2 for el in lst]
lst2

[['hi', 'bye', 'hi', 'bye'], 'hellohello', 'goodbyegoodbye', [9, 2, 9, 2], 8]

In [65]:
students = [('Tommy', 95), ('Linda', 63), ('Carl', 70), ('Bob', 100), ('Raymond', 50), ('Sue', 75)]
passed = [a for (a,b) in students if b >= 70]
passed

['Tommy', 'Carl', 'Bob', 'Sue']

In [70]:
l1 = ['left', 'up', 'front']
l2 = ['right', 'down', 'back']
opposites = list(filter(lambda tup : len(tup[0]) > 3 and len(tup[1]) > 3, list(zip(l1,l2))))
opposites

[('left', 'right'), ('front', 'back')]

In [74]:

species = ['golden retriever', 'white tailed deer', 'black rhino', 'brown squirrel', 'field mouse', 'orangutan', 'sumatran elephant', 'rainbow trout', 'black bear', 'blue whale', 'water moccasin', 'giant panda', 'green turtle', 'blue jay', 'japanese beetle']

population = [10000, 90000, 1000, 2000000, 500000, 500, 1200, 8000, 12000, 2300, 7500, 100, 1800, 9500, 125000]

pop_info = list(zip(species, population))
endangered = [a for (a,b) in pop_info if b < 2500]
endangered

['black rhino',
 'orangutan',
 'sumatran elephant',
 'blue whale',
 'giant panda',
 'green turtle']